#miscOptionsContainer {
    text-align: center;
}

#submitClearContainer {
    text-align: center;
}

#displayPacenoteContainer{
    text-align: center;

}

#turnOptionContainer{
    text-align: center;
}
