#miscOptionsContainer {
    text-align: center;
}

#submitClearContainer {
    text-align: center;
}

#displayPacenoteContainer{
    text-align: center;
    overflow: scroll;
    width: 100%;
    height: 200px;
}

/* #createTurnContainer {
    text-align: right;
} */